# interest=(prt)/100

In [1]:
# defining a function

def cal_interest(p,r,t):  #arguments
    interest=(p*r*t)/100
    print("Interest=",interest)

In [2]:
# calling a function
cal_interest(100000,5,5)  #parameters

Interest= 25000.0

In [3]:
cal_interest(50000,2,1)

Interest= 1000.0

In [4]:
# create a function for prinying table of any number

def print_table(n):
    for i in range (1,11):
        print(n*i)

In [5]:
print_table(5)

5
10
15
20
25
30
35
40
45
50

In [6]:
# *args = This will act like a tuple inside a function
# used for accepting multiple parameter in one argument

In [7]:
def information(*args):
    print(f"values:{args}")
    print(f"values:{type(args)}")
    for i in args:
        print(i)

In [8]:
information('Aditya','Kulange','17-12-2002',24)

values:('Aditya', 'Kulange', '17-12-2002', 24)
values:<class 'tuple'>
Aditya
Kulange
17-12-2002
24

In [9]:
# return multiplication of a number
# 2,4,6,3=144

In [10]:
def return_multiplication(*args):
    m=1
    for i in args:
        m=m*i
    return m

In [11]:
return_multiplication(4,5)

20

In [12]:
return_multiplication(24,54,87,12)

1353024

In [13]:
lst=[1,2,3,4,5,6,7,8]

In [14]:
return_multiplication(*lst)

40320

In [19]:
cart=[
    ('laptop',50000,1),
    ('keyboard',6000,2),
    ('mouse',200,5),
    ('mousepad',150,5)
]

In [20]:
def print_info(*args):
    total_price=0
    # print information
    for name,price,qty in args:
        print(f"Name:{name}, Price:{price}, Quantity:{qty}")
        print("----------------------------------------------------")
        total_price=total_price+price
    return f"Total price={total_price}"

In [21]:
print_info(*cart)

Name:laptop, Price:50000, Quantity:1
----------------------------------------------------
Name:keyboard, Price:6000, Quantity:2
----------------------------------------------------
Name:mouse, Price:200, Quantity:5
----------------------------------------------------
Name:mousepad, Price:150, Quantity:5
----------------------------------------------------

'Total price=56350'

In [22]:
cart=[
    ('Aditya',24,50000),
    ('Sujata',21,30000),
    ('Mayuri',22,35000)
]

In [23]:
def employee_info(*args):
    total_salary=0
    for name, age, salary in args:
        print(f"Name:{name}, Age:{age}, Salary:{salary}")
        print("---------------------------------------------")
        total_salary=total_salary+salary
    return f"Total Salary={total_salary}"

In [24]:
employee_info(*cart)

Name:Aditya, Age:24, Salary:50000
---------------------------------------------
Name:Sujata, Age:21, Salary:30000
---------------------------------------------
Name:Mayuri, Age:22, Salary:35000
---------------------------------------------

'Total Salary=115000'

In [ ]:
# *args = act as a tuple
# **kwargs = act as a dictionery

In [27]:
def display(**kwargs):
    print(f"values:{kwargs}")
    for key, value in kwargs.items():
        print(f"Key={key}\nvalue={value}")

In [28]:
display(name="Aditya", job_role="fresher")

values:{'name': 'Aditya', 'job_role': 'fresher'}
Key=name
value=Aditya
Key=job_role
value=fresher

In [29]:
d={
    "empid":1,
    "empname":"Tanmay",
    "age":24,
    "email":"adityakulange1717@gmail.com"
}

In [30]:
display(**d)

values:{'empid': 1, 'empname': 'Tanmay', 'age': 24, 'email': 'adityakulange1717@gmail.com'}
Key=empid
value=1
Key=empname
value=Tanmay
Key=age
value=24
Key=email
value=adityakulange1717@gmail.com

In [31]:
# lambda function = used for small calculation

In [35]:
add=lambda a,b:a+b

In [36]:
add(4,6)

10

In [37]:
add(22,33)

55

In [38]:
add=lambda a:a*a

In [39]:
add(5)

25

In [41]:
add=lambda a:a*a*a

In [42]:
add(2)

8