# Session 2

- two types of function
- 1)pre-defined function
- 2)user defined function

- 1)pre defined function

In [7]:
len("ETLHIVE")

7

In [8]:
lst=[1,2,3,4,5,6]
len(lst)

6

# 2)User defined function

- two methods for creating a function
- a) defining a function
- b) calling a function

In [45]:
# def function_name(parameter list):
#     logical part

In [64]:
# defining a function
def greet():
    print("Welcome to ETLHIVE")

In [65]:
# calling a function
greet()
greet()
greet()

Welcome to ETLHIVE
Welcome to ETLHIVE
Welcome to ETLHIVE

In [66]:
# function with parameter 
def greet1(name):
    print(f"Welcome to ETLHIVE {name}")

In [67]:
# calling
greet1("Aditya")

Welcome to ETLHIVE Aditya

In [70]:
def multiplication(a,b):
    print(f"Multiplication of {a,b} is {a*b} ")

In [71]:
multiplication(2,3)

Multiplication of (2, 3) is 6

In [72]:
def add(a,b):
    print(f"Addition {a+b}")

In [73]:
add(10,20)

Addition 30

In [46]:
# print table of any number 
def table(n):
    for i in range(1,11):
        print(n*i)

In [47]:
table(5)

5
10
15
20
25
30
35
40
45
50

In [48]:
table(2)

2
4
6
8
10
12
14
16
18
20

In [49]:
lst=[3,5,7,8,9,23,45,67]

In [50]:
def square(l):
    for i in l:
        print(i*i)

In [51]:
square(lst)

9
25
49
64
81
529
2025
4489

In [52]:
def cube(n):
    for i in n:
        print(i*i*i)

In [53]:
cube(lst)

27
125
343
512
729
12167
91125
300763

In [54]:
def cube(n):
    print(f"cube of a number {n} is {n*n*n}")

In [55]:
# calling a function
cube(4)

cube of a number 4 is 64

In [56]:
cube(9)

cube of a number 9 is 729

In [57]:
# with return
def cal_square(n):
    return n*n

In [58]:
result = cal_square(5)

In [59]:
result

25

In [74]:
def cube(n):
    return f"cube of a number {n} is {n*n*n}"

In [75]:
result = cube(4)

In [76]:
result

'cube of a number 4 is 64'

In [77]:
lst=[1,2,3,4,5,6]

In [82]:
def sum(lst):
    s=0
    for i in lst:
        s=s+i
    print(f"Sum of all is {s}")

In [83]:
sum(lst)

Sum of all is 21

In [89]:
def multiplication(l):
    s=1
    for i in lst:
        s=s*i
    print(f"Multiplication of all is {s}")

In [90]:
multiplication(lst)

Multiplication of all is 720

In [ ]:
# Write a function in python to calculate hypotenuse of a right angled triangle
# (AC)^2 = (AB)^2 + (BC)^2
# c^2 = a^2 + b^2
# c = (a^2 + b^2)^0.5

In [96]:
def hypo(a,b):
    c= (a**2 + b**2)**0.5
    print(f"Hypotenuse of {a,b} is {c}")

In [97]:
hypo(4,5)

Hypotenuse of (4, 5) is 6.4031242374328485

In [98]:
# Write a function in python which takes 3 sides and determine 3 sides form triangle or not

In [105]:
def verify_triangle(a,b,c):
    if (a<b+c) and (b<a+c) and (c<b+a):
        print("It is a triangle")
    else:
        print("It is not a triangle")

In [106]:
verify_triangle(1,2,3)

It is not a triangle

In [107]:
verify_triangle(3,4,5)

It is a triangle

In [108]:
# Write a function to calculate a area of triangle when 3 sides are given

In [111]:
def area_of_triangle(a,b,c):
    s=(a+b+c)/2
    Area=(s*(s-a)*(s-b)*(s-c))**0.5
    print(f"Area of triangle is {Area}")

In [113]:
area_of_triangle(15,17,12)

Area of triangle is 87.74964387392122