# *args, **kwargs

In [16]:
# calculate area of rectangle

In [17]:
def area_of_rect(l,b):
    aor=l*b
    print("Area of rectangle=",aor)

In [18]:
area_of_rect(3,4)

Area of rectangle= 12

In [19]:
area_of_rect(10,30)

Area of rectangle= 300

In [20]:
# *args

In [21]:
# sum of all values present in a parameter

In [22]:
def cal_sum(*args):  #(2,3,4)
    sum=0
    for i in args:
        sum=sum+i  #sum=0+2=2+3=5+4=9
    return f"Sum of all values= {sum}"

In [23]:
cal_sum(2,3,4)

'Sum of all values= 9'

In [25]:
cal_sum(4,5,6,7,10,20,30)

'Sum of all values= 82'

In [26]:
lst=[4,5,6,10,45,87,57]

In [27]:
# list unpacking
cal_sum(*lst)

'Sum of all values= 214'

In [28]:
# **kwargs

In [30]:
def display_data(**kwargs):  #{"key":"values"}
    print(f"values: {kwargs}")

In [31]:
display_data(name="Aditya", age=23, salary=50000)

values: {'name': 'Aditya', 'age': 23, 'salary': 50000}

In [66]:
menu={
    "pizza":250,
    "maggie":50,
    "noodles":199,
    "burger":70,
    "coffee":50,
    "tea":10
}

In [67]:
menu.values()

dict_values([250, 50, 199, 70, 50, 10])

In [68]:
menu.keys()

dict_keys(['pizza', 'maggie', 'noodles', 'burger', 'coffee', 'tea'])

In [69]:
menu.get("pizza")

250

In [70]:
menu.get("burger")

70

In [71]:
def menu_info(**kwargs):
    total_amt=0
    for item, amount in kwargs.items():
        print(f"Item: {item}, Amount: {amount}")
        print("--------------------------------------")
        total_amt=total_amt+amount
    return f"Total Amount= {total_amt}"

In [72]:
menu_info(**menu)

Item: pizza, Amount: 250
--------------------------------------
Item: maggie, Amount: 50
--------------------------------------
Item: noodles, Amount: 199
--------------------------------------
Item: burger, Amount: 70
--------------------------------------
Item: coffee, Amount: 50
--------------------------------------
Item: tea, Amount: 10
--------------------------------------

'Total Amount= 629'

In [74]:
menu.get("burger")*2

140

In [81]:
def restaurant_bill(**kwargs):
    bill=0
    for item, qty in kwargs.items():
        amt=menu.get(item)*qty
        bill=bill+amt
        print(f"Item: {item}, Quantity: {qty}, Amount: {amt}")
    return f"Total bill= {bill}"

In [82]:
restaurant_bill(burger=2,coffee=3)

Item: burger, Quantity: 2, Amount: 140
Item: coffee, Quantity: 3, Amount: 150

'Total bill= 290'

# Generator function

In [83]:
# 0,1,1,2,3,5,8,13,21

In [86]:
# while
# 1) initialization
# 2) condition checking
# 3) increment/ decrement
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [89]:
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1

In [90]:
sum

55

In [91]:
# print table of any number using while loop

In [2]:
i=1
n=int(input("Enter a number"))
while i<=10:
    print(n*i)
    i=i+1

5
10
15
20
25
30
35
40
45
50

In [3]:
# fabany series
# 0,1,1,2,3,5,8,13,21

In [4]:
i=1
a=0
b=1
c=0
while i<=8:
    print(c)
    a=b
    b=c
    c=a+b
    i=i+1

0
1
1
2
3
5
8
13

In [5]:
# generator 
# 1) yield    # statement return or output produce
# 2) next

In [8]:
def fab_number():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b

In [9]:
result=fab_number()

In [12]:
for i in range(5):
    print(next(result))

0
1
1
2
3